.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

.navbar div {
    cursor: pointer;
    font-weight: 400;
    word-wrap: break-word;
    white-space: normal;
    max-width: 150px;
}

.section {
    color: #568259;
    font-size: large;
}

.heading {
    color: #464E47;
    font-size: larger;
    font-weight: 700;
    word-wrap: break-word;
    white-space: normal;
    max-width: 1px;
}

